@using Entities.Models;
@using static ProjectWebNotes.Areas.Manager.Controllers.CategoryController;
@model IFromFileViewModel
@{
    ViewBag.Title = "Icon Danh Mục";

    var categorys = ViewData["categorys"] as IEnumerable<Category>;

    var categoryTreeView = ViewData["TreeViewCategorys"] as List<Category>;

}

<div class="container">
    
    <div class="row">
        <div class="col-md-8">
            @{
                @await Html.PartialAsync("_GetAllCategoryPartial", categorys)
            }
        </div>
        <div class="col-md-4 mt-3">
            
            <form  id="submitIconCategory" asp-route-id="@Model.Category.Id" method="post" enctype="multipart/form-data">
                
                @Html.HiddenFor(x => x.Category.Slug)
                @Html.HiddenFor(x => x.Category.Title)
                @Html.HiddenFor(x => x.Category.IConFont)
            
                <div class="mb-3">
                    <div class="personal-image">
                        <h5 class="text-primary">Biểu tượng</h5>
                        <label asp-for="@Model.FormFile">
                            <input accept="image/png, image/jpeg , image/jpg , image/jfif" type="file" asp-for="@Model.FormFile" onchange="ShowImagePreview(this,indexImg )" />
                            <figure class="personal-figure">
                                @if (Model.Category.IConFont == null)
                                {
                                    <img src="~/Img/default.jpg" class="personal-avatar" alt="avatar" id="indexImg" />
                                    <figcaption class="personal-figcaption">
                                        <img src="~/Img/camera.png">
                                    </figcaption>
                                }
                                else
                                {
                                    <img src="~/ImageManager/IconCategory/@Model.Category.IConFont" class="personal-avatar" alt="avatar" id="indexImg">
                                    <figcaption class="personal-figcaption">
                                        <img src="~/Img/camera.png">
                                    </figcaption>
                                }
                            </figure>
                        </label>
                    </div>
                    <hr />
                    <div asp-validation-summary="All"></div>
                    @Html.ActionLink("Quay về ", "index", "category")
                </div>

            </form>

        </div>

    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        function ShowImagePreview(imgUpLoader, previewImg) {
            if (imgUpLoader.files && imgUpLoader.files[0]) {
                dt = new DataTransfer();
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(previewImg).attr('src', e.target.result)
                    var f = e.target.result;

                }
                reader.readAsDataURL(imgUpLoader.files[0]);

                dt.items.add(imgUpLoader.files[0]);

            }
            imgUpLoader.files = dt.files
        }
    </script>

    <script>
        document.querySelector("input[type=file]").addEventListener('change', function () {
            document.getElementById("submitIconCategory").submit();
        });

    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")

}