@model PostForCreationDto
@{

    ViewBag.Title = "Tạo bài viết";

    var category = ViewData["category"] as CategoryForWithDetailDto;
    var treeViewPost = ViewData["treeViewPost"] as List<PostForWithDetailDto>;
    var SeletePosts = ViewData["SeletePosts"] as List<PostForWithDetailDto>;
}

<div class="container">
   
    <div class="row">
        <div class="col-md-8" id="tablePosts">
             <h2>Danh sách bài viết thuộc danh mục <span>@category.Title</span></h2>
            @{
             
                @await Html.PartialAsync("_GetPostBranchPartial", treeViewPost)       
            }
        </div>
        <div class="col-md-4">
            <h2>@ViewBag.Title</h2>
            <form method="post" asp-action="CreatePost" asp-route-idpost="@Model.Id" asp-route-id="@category.Id">
                  <div class="mb-3">
                    <label asp-for="@Model.Title" class="form-label"></label>
                    <input asp-for="@Model.Title"  class="form-control" >
                    <span asp-validation-for="@Model.Title" class="form-text"></span>
                  </div>
                  <div class="mb-3">
                    <label asp-for="@Model.Slug" class="form-label"></label>
                    <input asp-for="@Model.Slug"  class="form-control" >
                    <span asp-validation-for="@Model.Slug" class="form-text"></span>
                  </div>

                  <div class="mb-3">
                        <label class="form-label" asp-for="@Model.PostParentId"></label>
                        <select class="form-select" aria-label="Default select example" asp-for="@Model.PostParentId"
                                asp-items="@(new SelectList(SeletePosts,"Id","Title"))">
                                <option value="">Không</option>
                        </select>
                        <span asp-validation-for="@Model.PostParentId"></span>
                   </div>

                   <div class="mb-3">
                        <label class="form-label" asp-for="@Model.Description"></label>
                        <textarea rows="6" class="form-control" asp-for="@Model.Description"></textarea>
                        <span asp-validation-for="@Model.Description"></span>
                    </div>

                     <div class="mb-3">
                        <label asp-for="@Model.Serial" class="form-label"></label>
                        <input asp-for="@Model.Serial"  class="form-control" >
                        <span asp-validation-for="@Model.Serial" class="form-text"></span>
                    </div>

                    <div asp-validation-summary="All"></div>
                    <button type="submit"  class="btn btn-primary w-100">Tạo</button>                                       
                </form>
        </div>
    </div>
</div>
