@model ICollection<Category>

@{
    var categorys = Model;
    var statusMessage = TempData["StatusMessage"] as string;
}
<h2>Danh sách danh mục</h2>
 <partial name="_MessageBoxPartial" model="@statusMessage" />
<table class="table table-dark table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Tiêu đề</th>
                      <th scope="col">Slug</th> 
                      <th scope="col">Biểu tượng</th>
                      <th scope="col">Nội dung</th>
                      <th scope="col">Tùy chọn</th>
                    </tr>
                  </thead>
                  <tbody>
        @{
            await RenderTreeViewTable(categorys, 0);
        }
</table>

@{
    async Task RenderTreeViewTable(IEnumerable<Category> categorys, int leve)
    {
        var temp = leve;

        var padingletf = temp + "px";
        
        foreach (var category in categorys)
        {

            <tr>
                <th style="padding-left: @padingletf" scope="row">@category.Serial</th>
                <td style="padding-left: @padingletf">
                    <a asp-action="Posts" asp-controller="Category" asp-route-id="@category.Id">@category.Title</a>
                </td>
                <td>@category.Slug</td>         
                <td>@Html.Raw(@category.IConFont)</td>
                <td><a asp-action="Content" asp-controller="Category" asp-route-id="@category.Id"><i class="bi bi-pencil-square"></i></a></td>
                <td>
                     <a asp-action="Edit" asp-controller="Category" asp-route-id="@category.Id" >
                        Sửa
                    </a>
                    |
                    <a  asp-action="Delete" asp-controller="Category" asp-route-id="@category.Id" >
                        Xóa
                    </a>

                   
                </td>
            </tr>

            @if (category.CategoryChildren?.Count > 0)
            {
                temp += 17;
                await RenderTreeViewTable(category.CategoryChildren, leve + 17);
            }

            temp = 0;
        }


    }
}