@model CategoryBranchPosts
@{
    var posts = Model.Posts;
    var category = Model.Category;
    var statusMessage = TempData["StatusMessage"] as string;
}
 <partial name="_MessageBoxPartial" model="@statusMessage" />
 <h2>Danh sách bài viết thuộc danh mục <span>@category.Title</span></h2>
<table class="table table-dark table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Tiêu đề</th>
                      <th scope="col">Slug</th>
                      <th scope="col">Mô tả</th>
                       <th scope="col">Chi tiết</th>
                      <th scope="col">Tùy chọn</th>
                    </tr>
                  </thead>
                  <tbody>
        @{
            await RenderTreeViewTable(posts, 0);
        }
</table>

@{
    async Task RenderTreeViewTable(IEnumerable<PostFWDetailChilds> posts, int leve)
    {
        var temp = leve;

        var padingletf = temp + "px";

        foreach (var post in posts)
        {

            <tr>
                <th style="padding-left: @padingletf" scope="row">@post.Serial</th>
                <td style="padding-left: @padingletf">@post.Title</td>
                <td>@post.Slug</td>
                <td>@post.Description</td>
                <td>
                    <a asp-action="detail" asp-route-id="@post.Id"  asp-controller="post">
                        Chi tiết
                    </a>
                </td>
                <td>
                    <a asp-action="EditPost" asp-route-postid="@post.Id"  asp-controller="category" asp-route-id="@category.Id" >
                        Sửa
                    </a>
                    |
                    <a  asp-action="DeletePost" asp-route-postid="@post.Id"  asp-controller="category" asp-route-id="@category.Id" >
                        Xóa
                    </a>
                </td>
            </tr>

            @if (post.PostChilds?.Count > 0)
            {
                temp += 17;
                await RenderTreeViewTable(post.PostChilds, leve + 17);
            }
            temp = 0;
        }


    }
}