@model PostController.ViewAddCategory

@{
    ViewBag.Title = "Chọn danh mục.";
}

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h2>@ViewBag.Title</h2>
            <form method="post" asp-action="AddCategory" asp-route-id="@Model.PostId" >
                <label class="form-label" asp-for="@Model.CategoryId"></label>
                <select class="form-select" aria-label="Default select example" asp-for="@Model.CategoryId"
                        asp-items="@(new SelectList(@Model.categories,"Id","Title"))">
                    <option value="">Không</option>
                </select>
               <hr />
                <span asp-validation-for="@Model.CategoryId"></span>
                    <button type="submit"  class="btn btn-primary w-100">Cập nhật</button>
                </form>
        </div>
    </div>
</div>




@section Scripts {
    @*https://apalfrey.github.io/select2-bootstrap-5-theme/examples/multiple-select/*@
    @await Html.PartialAsync("_ValidationScriptsPartial")

}
    
