@model PostController.BidingPostCategory

@{

    ViewBag.Title = "Chọn một hoặc nhiều danh mục.";

}

<div class="container">

    <div class="row">
        
        <div class="col-md-5">
            <h2>@ViewBag.Title</h2>
            <form method="post" asp-action="AddItemCategory" asp-route-id="@Model.IdPost">

                  <div class="mb-3">
                        <label class="form-label" asp-for="@Model.PostCategorys"></label>
                        <select style="min-height: 200px;"  id="multiple-select-field"  class="form-select"  asp-for="@Model.PostCategorys"
                                asp-items="@Model.addCategory">                               
                        </select>
                   </div>
                    <button type="submit"  class="btn btn-primary">Cập nhật</button>
                    @Html.ActionLink("Quay trở lại bài viết", "detail" ,"post" , new {id = Model.IdPost})
                </form>
                <hr />
            @Html.ActionLink("Quay về bài viết", "detail", "post" , new {id = @Model.IdPost})
        </div>
    </div>
</div>

@section Scripts {
    @*https://apalfrey.github.io/select2-bootstrap-5-theme/examples/multiple-select/*@
    @await Html.PartialAsync("_ValidationScriptsPartial")

}