@model PostsFWDImagesDto

@{
    Layout = "~/Views/Shared/_LayoutSummernote.cshtml";

    var statusMessage = TempData["StatusMessage"] as string;

    string id = "Content";
}

<div class="container">
   
    <p class="alert alert-info mt-1">Cập nhật nội dung <span style="color: red;">@Model.Title</span></p>
    <div class="row">
        <div class="col-md-8">
            <partial name="_MessageBoxPartial" model="@statusMessage" />
            <a asp-area="" asp-action="index" asp-controller="home">Quay về trang chủ</a> /
            @Html.ActionLink("Quay trở lại bài viết", "detail", "post", new{id = Model.Id})
                <hr />
                <form method="post" asp-route-id="@Model.Id">
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.DateUpdated"></label>
                    <input  class="form-control" asp-for="@Model.DateUpdated" />
                    <span asp-validation-for="@Model.DateUpdated"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Content"></label>
                    <textarea id="Content" name="Content" rows="4" class="form-control" asp-for="@Model.Content"></textarea>
                    <span asp-validation-for="@Model.Content"></span>
                </div>

                <button class="btn btn-sm btn-info" type="submit">Cập nhật</button>          
                </form>
                <hr />
        </div>
        <div class="col-md-4 pb-3 pt-3 ">
           <div class="card">
                <h6 class="card-header">Danh sánh ảnh trong bài viết <span class="text-danger">@Model.Title</span> @*(<a class="link-primary" asp-controller="Image" asp-action="index" asp-route-id="@Model.PostId">+ Cập nhật quản lý ảnh</a>)*@</h6>
                @await Component.InvokeAsync("ImgManager", Model.Images)

            </div>
        </div>
    </div>
</div>

@section Scripts{

     <partial name="_Summernote" model="@id"/>

    @await Html.PartialAsync("_ValidationScriptsPartial")

}


