@model PostsFWDImagesDto

@{
    Layout = "~/Views/Shared/_LayoutSummernote.cshtml";

    var statusMessage = TempData["StatusMessage"] as string;

    string id = "Content";
}

<div class="container">
   
    <p class="mt-3">Cập nhật nội dung <span style="background-color: #F5F5F5; font-weight: bold;">@Model.Title</span></p>
    <div class="row">
        <div class="col-md-9">
            <partial name="_MessageBoxPartial" model="@statusMessage" />
            <a asp-area="" asp-action="index" asp-controller="home">Quay về trang chủ</a> /
            @Html.ActionLink("Quay trở lại bài viết", "detail", "post", new{id = Model.Id})
                <hr />
                <form method="post" asp-route-id="@Model.Id">
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.DateUpdated"></label>
                    <input  class="form-control" asp-for="@Model.DateUpdated" />
                    <span asp-validation-for="@Model.DateUpdated"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Content"></label>
                    <textarea id="Content" name="Content" rows="4" class="form-control" asp-for="@Model.Content"></textarea>
                    <span asp-validation-for="@Model.Content"></span>
                </div>

                <button class="btn btn-sm btn-info" type="submit">Cập nhật</button>          
                </form>
                <hr />
        </div>
        <div class="col-md-3 pb-3 pt-3 ">
           <div class="card">
                <a  class="p-1" asp-controller="Post" asp-action="Images" asp-route-id="@Model.Id"> Cập nhật ảnh bài viết ( @Model.Title )</a>
                <hr />
                @await Component.InvokeAsync("ImgManager", Model.Images)

            </div>
        </div>
    </div>
</div>

@section Scripts{

     <partial name="_Summernote" model="@id"/>

    <script>
    function copyToClipboard(valueText) {

        window.prompt("Sao chép dịa chỉ ảnh nhấn : Ctrl+C, Enter", valueText);
    }
    </script>
         
    @await Html.PartialAsync("_ValidationScriptsPartial")

}


