@model PostsFWDImagesDto

@{
    Layout = "~/Areas/Manager/Views/Shared/_LayoutSummernote.cshtml";

    var statusMessage = TempData["StatusMessage"] as string;

    string id = "Content";
}

<div class="container">
      <partial name="_MessageBoxPartial" model="@statusMessage" />
    <div class="row">
        <div class="col-md-5 pb-3 pt-3 ">


             <h5>Cập nhật nội dung bài viết --@Model.Title--</h5>

                <form method="post" asp-route-id="@Model.Id">
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.DateUpdated"></label>
                    <input class="form-control" asp-for="@Model.DateUpdated" />
                    <span asp-validation-for="@Model.DateUpdated"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Content"></label>
                    <textarea id="Content" name="Content" rows="4" class="form-control" asp-for="@Model.Content"></textarea>
                    <span asp-validation-for="@Model.Content"></span>
                </div>

                <button class="btn btn-sm btn-info" type="submit">Cập nhật</button>
                @Html.ActionLink("Quay trở lại bài viết", "detail", "post", new{id = Model.Id})
                </form>
        </div>
        <div class="col-md-7 pb-3 pt-3 ">
            <h5>Danh sách hình ảnh trong bài viết --@Model.Title-- </h5>
        </div>
    </div>
</div>

@section Scripts{

     <partial name="_Summernote" model="@id"/>

    @await Html.PartialAsync("_ValidationScriptsPartial")

}