@model ContentForCreateDto

@{
    Layout = "~/Views/Shared/_LayoutSummernote.cshtml";

    var postFWDImgaesDto = ViewData["postFWDImgaesDto"] as PostsFWDImagesDto;
    var treeViewContent = ViewData["TreeViewContentSelete"] as List<ContentSelectDto>;

    var id = "TextContents";
}

<div class="container">
    <p class="alert alert-info mt-1">Tạo nội dung phân cấp bài viết <span style="color: red;">@postFWDImgaesDto.Title</span></p>
    <div class="row">
        
        <div class="col-md-8">
            <a asp-area="" asp-action="index" asp-controller="home">Quay về trang chủ</a> /
            @Html.ActionLink("Quay trở lại bài viết", "detail", "post", new{id = postFWDImgaesDto.Id})
            <hr />
              <form method="post" asp-route-id="@postFWDImgaesDto.Id">
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Title"></label>
                    <input class="form-control" asp-for="@Model.Title" />
                    <span asp-validation-for="@Model.Title"></span>
                </div>


                  <div class="mb-3">
                        <label class="form-label" asp-for="@Model.ParentContentId"></label>
                        <select class="form-control" aria-label="Default select example" asp-for="@Model.ParentContentId"
                                asp-items="@(new SelectList(treeViewContent,"Id","Title"))">
                                <option value="">Không</option>
                        </select>
                        <span asp-validation-for="@Model.ParentContentId"></span>
                   </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.TextContents"></label>
                    <textarea id="TextContents" name="TextContents" rows="4" class="form-control" asp-for="@Model.TextContents"></textarea>
                    <span asp-validation-for="@Model.TextContents"></span>
                </div>

                <button class="btn btn-sm btn-info" type="submit">Tạo</button>
               
             </form>
             <hr />
        </div>
        <div class="col-md-4 pb-3 pt-3 ">
            <div class="card">
                <h6 class="card-header">Danh sánh ảnh trong bài viết <span class="text-danger">@postFWDImgaesDto.Title</span></h6>
                @await Component.InvokeAsync("ImgManager",postFWDImgaesDto.Images)
            
            </div>
        </div>
    </div>
</div>

@section Scripts{

        <partial name="_Summernote" model="@id"/>
         <script>
            function copyToClipboard(valueText) {

                window.prompt("Sao chép dịa chỉ ảnh nhấn : Ctrl+C, Enter", valueText);
            }
        </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")

}