
@model Post
@{
    ViewBag.Title = "Chi tiết bài Post";

    var posts = ViewData["posts"] as IEnumerable<Post>;

    var statusMessage = TempData["StatusMessage"] as string;

}

<div class="container">
    <partial name="_MessageBoxPartial" model="@statusMessage" />
    <div>
            <h2>@ViewBag.Title</h2>
       
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.Slug)          
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Slug)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @if (Model.Description != null)
                        {
                          @Html.Raw(Model.Description)
                        }
                        else{
                            <span class="text-danger">Chưa có</span>
                        }
                    </dd>

                    <dt>
                       
                        @Html.DisplayNameFor(model => model.Content)
                          
                    </dt>

                    <dd>
                          @Html.ActionLink("Cập nhật", "contents", "post", new {id = Model.Id})
                    </dd>

                    <dt>
                            @Html.ActionLink("Banner post", "banner", "post" , new {id = Model.Id})
                    </dt>

                    <dd>
                        <div>
                            @if (@Model.Banner is null)
                            {
                                <span class="text-danger">Chưa có</span>
                            }
                            else
                            {
                                <img src="@Model.Banner" style="width: 50px; height: 50px; margin-top: 7px;" />
                            }
                        </div>

                    </dd>
                          
                    <dt>
                          @Html.ActionLink("Ảnh", "images", "post", new {id = Model.Id})
                    </dt>
                        
                    <dd>
                          <div>
                              @if (Model.Images?.Count <=0)
                              {
                                    <span class="text-danger">Chưa có</span>
                              }
                              else
                              {
                                    @foreach (var item in Model.Images)
                                    {
                                        <img src="@item.Url" style="width: 50px; height: 50px; margin-top: 7px;" />

                                    }
                              }
                             
                          </div>
                    </dd>

                     <dt>
                          @Html.ActionLink("Nội dung phân cấp", "createcontent", "post", new {id = Model.Id})
                    </dt>

                    <dd>
                            @if (Model.Contents?.Count > 0)
                            {
                                <ul>
                                    
                                    @{
                                      await RenderContents(Model.Contents.Where(x => x.ParentContent is null).ToList());
                                    } 
                                </ul>
                               

                            }else
                            {
                                <span class="text-danger">Chưa có</span>
                            }
                    </dd>


                    <dt>
                          @Html.ActionLink("Danh mục hiện tại", "AddCategory", "post", new {id = Model.Id})
                    </dt>

                    <dd>
                        @if (Model.Category != null)
                        {
                            @Model.Category.Title
                        }else
                        {
                            <span class="text-danger">Chưa có</span>
                        }
                            
                    </dd>

                    <dt>
                        Nhánh
                    </dt>

                    <dd>
                        @if (Model.PostParent != null)
                        {
                            <ul>
                                  <li>@Html.ActionLink(Model.PostParent.Title , "detail", "post", new {id = Model.PostParent.Id})
                                  
                                  
                                        @if (Model.PostParent?.PostChilds.Count > 0)
                                        {  
                                            <ul>
                                                @{
                                                    await RenderPosts(Model.PostParent.PostChilds);
                                                }
                                            </ul>


                                        }
                                  
                                  </li>
                                
                                 
                            </ul>
                        }
                        else
                        {
                                <ul>
                                      <li>@Html.ActionLink(Model.Title , "detail", "post", new {id = Model.Id})

                                            @if (Model.PostChilds.Count > 0)
                                            {
                                                <ul>
                                                    @{
                                                        await RenderPosts(Model.PostChilds);
                                                    }
                                                 </ul>

                                            }   

                                       </li>
                                </ul>
                        }
                    </dd>

                </dl>
                <p>
                    @Html.ActionLink("Quay trở lại danh sách", "Index", "post")
                </p>
    </div>
</div>



@{

        async Task RenderPosts(ICollection<Post> posts)
        {
            @foreach (var item in posts)
            {
                @if (item.PostChilds?.Count < 0)
                {
                    <li>
                        @Html.ActionLink(item.Title , "detail", "post", new {id = item.Id})
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink(item.Title , "detail", "post", new {id = item.Id})

                            <ul>

                                @if (item.PostChilds?.Count > 0)
                                {

                                 await RenderPosts(item.PostChilds);

                                }

                            </ul>
                    </li>

                }
            }
        }


        async Task RenderContents(ICollection<Content> contents)
        {
            @foreach (var item in contents)
            {
                @if (item.ContentChildrens?.Count < 0)
                {
                    <li>
                         @Html.ActionLink(item.Title , "editcontent", "post", new {id = Model.Id , contentid = item.Id})
                    </li>
                }
                else
                {
                    <li>
                       @Html.ActionLink(item.Title , "editcontent", "post", new {id = Model.Id , contentid = item.Id})

                          <ul>

                            @if (item.ContentChildrens?.Count > 0)
                            {

                                await RenderContents(item.ContentChildrens);

                            }

                          </ul>
                    </li>

                }

            }

   
        }
}

@section Scripts {

    @* @await Html.PartialAsync("_ValidationScriptsPartial")*@
}