@model Content

@{
    Layout = "~/Views/Shared/_LayoutSummernote.cshtml";

    var treeViewContent = ViewData["TreeViewContentSelete"] as List<ContentSelectDto>;
    var statusMessage = TempData["StatusMessage"] as string;
    var id = "TextContents";
}

<div class="container">
   
    <p class="alert alert-info mt-1">Cập nhật nội dung <span style="color: red;">@Model.Title</span></p>

    <div class="row">
        <div class="col-md-8 ">
            <partial name="_MessageBoxPartial" model="@statusMessage" />
           
            <form id="DeletContent" asp-action="DeleteContent" asp-controller="post" method="post" asp-route-contentid="@Model.Id" asp-route-id="@Model.PostId">
                <button class="btn btn-sm btn-danger m-0" onclick="DeletContent()">Xóa</button> /
                <a asp-area="" asp-action="index" asp-controller="home">Quay về trang chủ</a> /
                @Html.ActionLink("Quay trở lại bài viết", "detail", "post", new{id = Model.PostId})
               
            </form>
            <hr />

              <form method="post" asp-route-contentid="@Model.Id" asp-route-id="@Model.PostId">
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Title"></label>
                    <input class="form-control" asp-for="@Model.Title" />
                    <span asp-validation-for="@Model.Title"></span>
                </div>

                  <div class="mb-3">
                        <label class="form-label" asp-for="@Model.ParentContentId"></label>
                        <select class="form-control" aria-label="Default select example" asp-for="@Model.ParentContentId"
                                asp-items="@(new SelectList(treeViewContent,"Id","Title"))">
                                <option value="">Không</option>
                        </select>
                        <span asp-validation-for="@Model.ParentContentId"></span>
                   </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.TextContents"></label>
                    <textarea id="TextContents" name="TextContents" rows="6" class="form-control" asp-for="@Model.TextContents"></textarea>
                    <span asp-validation-for="@Model.TextContents"></span>
                </div>

                <button class="btn btn-sm btn-info" type="submit">Update</button> 
                
             </form>
            
             <hr />
        </div>
        <div class="col-md-4 pb-3 pt-3 ">
            <div class="card">
                <h6 class="card-header">Danh sánh ảnh trong bài viết <span class="text-danger">@Model.Post.Title</span> @*(<a class="link-primary" asp-controller="Image" asp-action="index" asp-route-id="@Model.PostId">+ Cập nhật quản lý ảnh</a>)*@</h6>
              
                    @if (Model.Post.Images?.Count > 0)
                    {
                        @foreach (var item in Model.Post.Images)
                        {

                            <div>
                                <div class="image_container-checkbox d-flex justify-content-center position-relative">
                                    <img src="@item.Url" style="height: 100%; width: auto;" />
                                </div>
                                <label>
                                    <button class="btn btn-sm btn-outline-primary" type="button" onclick="copyToClipboard('@item.Url')">Copy url</button>
                                </label>
                            </div>
                        }
                    }
                    else
                    {
                        <h6 class="alert alert-danger">Chưa có</h6>
                    }

            </div>
        </div>
    </div>
</div>

@section Scripts{

    <partial name="_Summernote" model="@id"/>

        <script>
            function DeletContent() {
                  document.getElementById("DeletContent").submit();
            }
        </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")

        <script>
        function copyToClipboard(valueText) {

            window.prompt("Sao chép dịa chỉ ảnh nhấn : Ctrl+C, Enter", valueText);
        }
    </script>



}