@model PostForCreationDto
@{
    var posts = ViewData["Posts"] as PagedList<PostDto>;
    
    ViewBag.Title = "Tạo bài viết";
}
<div class="container">
    <div class="row">
        <div id="posts-item" class="col-md-8">
            @{
                @await Html.PartialAsync("_PostPagingPartial", posts)       
            }
        </div>
        <div class="col-md-4">
             <h2>@ViewBag.Title</h2>
            <form method="post" asp-route-pageNumber="@posts.CurrentPage" asp-action="CreatePost">
                <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label"></label>
                <input asp-for="@Model.Title"  class="form-control" >
                <span asp-validation-for="@Model.Title" class="form-text"></span>
                </div>
                <div class="mb-3">
                <label asp-for="@Model.Slug" class="form-label"></label>
                <input asp-for="@Model.Slug"  class="form-control" >
                <span asp-validation-for="@Model.Slug" class="form-text"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Description"></label>
                    <textarea rows="6" class="form-control" asp-for="@Model.Description"></textarea>
                    <span asp-validation-for="@Model.Description"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Serial" class="form-label"></label>
                    <input asp-for="@Model.Serial"  class="form-control" >
                    <span asp-validation-for="@Model.Serial" class="form-text"></span>
                </div>

                <div asp-validation-summary="All"></div>
                <button type="submit"  class="btn btn-primary w-100">Tạo</button>
            </form>
        </div>
    </div>

</div>

@section Scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>

        function getPaging(valueText) {

            var numberpage = valueText;
            $.ajax({
                url: "/Manager/Post/PostsPartial",
                contentType: 'application/html; charset=utf-8',
                data: { "PageNumber": numberpage },
                type: 'GET',
                dataType: 'html',
                success: function (response) {
                    debugger

                    $("#posts-item").html(response);
                },
                error: function (response) {
                    debugger
                    alert(response);
                }
            });
        }

    </script>

}