@using Domain.IdentityModel;
@using System.Globalization;
@using static ProjectWebNotes.Controllers.BaseController;
@model IEnumerable<Category>

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewData["Title"] = "Home";
    var admin = ViewData["administrator"] as Manager;
    var posts = ViewData["posts"] as PagedList<PostNewDto>;

   

}

<div class="main-body-content">
  
   <div class="run-source">
        <p>Web Viet IT ASP.NET Core version 7.0</p>
   </div>
    <div class="icon-contact-service">
        <ul>
            <li>
                <a class="btn btn-sm btn-primary" href="https://www.facebook.com/promises.no.353">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-sm btn-light text-danger" href="#">
                    <i class="bi bi-envelope"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-sm btn-danger" href="https://www.youtube.com/channel/UCQTPNreptu2oV1XSxOZnSsw">
                    <i class="bi bi-youtube"></i>
                </a>
            </li>
            <li>

                <a class="btn btn-sm btn-light text-black" href="https://github.com/viet15cm">
                    <i class="bi bi-github"></i>
                </a>
            </li>

        </ul>
    </div>
    @if (Model != null)
    {
        @await Component.InvokeAsync("ViewListCategory", Model)
    }
    
    <div id="main-center-content" class="main-center-content">
        @await Html.PartialAsync("_ShowNewPostPartial", posts)
    </div>

    <div class="introduce">
        @if (admin != null)
        {
            <div class="commercial mb-3">
                <div class="new-post-title">
                    <h6>About Me</h6>
                </div>
                <div class="banner-avarta">

                    @if (admin != null)
                    {

                        <img class="commercial-avatar" src="~/ImageManager/Avatar/@admin.UrlImage"
                             alt="Avatar" />
                    }

                    <h6 class="mb-2"><strong>@admin.LastName @admin.FirstName </strong></h6>
                    <p class="commercial-content">


                       @Html.Raw("[" + string.Join(", ", admin.Roles.Select(s => string.Format("'{0}'", s))) + "]")

                       <span class="badge bg-primary">PRO</span>

                       @Html.Raw(@admin.Describe)

                     </p>

                    <a asp-controller="home" asp-action="privacy">Biết thêm về tôi và blog này !</a>
                    </div>
                </div>

        }
       
        <div id="newpost" class="new-post pb-3">
            <div class="new-post-title">
                <h6>Bài viết mới nhất</h6>
            </div>
            <div class="new-post-body">
                @if (posts != null)
                {
                    @await Html.PartialAsync("_PostNewPartial", posts)
                }
                
            
            </div>

            
           
        </div>

    </div>

   

</div>


@section BoxListCategory {
    @await Component.InvokeAsync(BoxListCategory.COMPONENTNAME, Model)

}
@section Scripts{
    <script>

        function getPaging(valueText) {

            var numberpage = valueText;
            $.ajax({
                url: "/Home/NewPostPartial",
                contentType: 'application/html; charset=utf-8',
                data: { "PageNumber": numberpage },
                type: 'GET',
                dataType: 'html',
                success: function (response) {
                    debugger

                    $("#newpost").find(".new-post-body").html(response);
                },
                error: function (response) {
                    debugger
                    alert(response);
                }
            });
        }

        function showDrop(object) {

            var numberpage = object.value;
            document.getElementById("loadingshowpost").innerHTML = "Loading...";
            debugger
            $.ajax({
                url: "/Home/ShowNewPostPartial",
                contentType: 'application/html; charset=utf-8',
                data: { "PageNumber": numberpage },
                type: 'GET',
                dataType: 'html',
                success: function (response) {

                    $("#main-center-content").append(response);

                    object.parentNode.parentNode.removeChild(object.parentNode);
                },
                error: function (response) {
                    debugger
                    alert(response);
                }
            });
        }

        function descriptionCollapse(object, text){


            var ob = object.parentNode;
            object.remove();
            ob.innerHTML += text;
          
        }


    </script>
}

