@using Domain.IdentityModel;
@using static ProjectWebNotes.Controllers.HomeController;
@model IEnumerable<Category>

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

    var admin = ViewData["administrator"] as Administrator;
    var posts = ViewData["posts"] as PagedList<PostSlugCategoryDto>;

    var name = "";

    if (admin != null)
    {
        name = admin.LastName + " " + admin.FirstName;
    }

    var paging = new Pagin()
    {
        UrlAction = "index",
        CurrentPage = posts.CurrentPage,
        TotalPages = posts.TotalPages,
    };


}

<div class="main-body-content">
    <div class="banner">
        
        <div class="banner-avarta">
            @if (admin != null)
            {
                <img src="~/ImageManager/Avatar/@admin.UrlImage" class="rounded-circle mb-3" style="width: 150px;"
                 alt="Avatar" />
            }

            <h5 class="mb-2"><strong>@name </strong></h5>
            <p class="text-muted">@admin.RoleName <span class="badge bg-primary">PRO</span></p>
        </div>
    </div>
   <div class="run-source">
        <p>Website ASP.NET Core runtime version 7.0.1</p>
   </div>
    <div class="icon-contact-service">
        <ul>
            <li>
                <a class="btn btn-sm btn-primary" href="#">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-sm btn-light text-danger" href="#">
                    <i class="bi bi-envelope"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-sm btn-danger" href="#">
                    <i class="bi bi-youtube"></i>
                </a>
            </li>
            <li>

                <a class="btn btn-sm btn-light text-black" href="#">
                    <i class="bi bi-github"></i>
                </a>
            </li>

        </ul>
    </div>

    @await Component.InvokeAsync("ViewListCategory", Model)
   
    <div class="introduce">
        <div class="new-post">
            <div class="new-post-title">
                <h6>Bài Viết Mới Nhất</h6>
            </div>
            <div class="new-post-body">
                <ul>
  
                    @foreach (var post in posts)
                    {
                        @if (post?.SlugCategory is null)
                        {
                            <li>
                                <a href="#">@post.Title</a>
                                <span class="date">
                                    @post.DateCreate
                                </span>
                                <span style="font-style: oblique;" class="text-danger">(Chờ hoàn thành )</span>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-area="Docs" asp-controller="ViewDocs" asp-action="index" asp-route-category="@post.SlugCategory" asp-route-post="@post.Slug">@post.Title</a>
                                <span class="date">
                                    @post.DateCreate
                                </span>
                            </li>
                        }


                    }
                    
                        @await Html.PartialAsync("_PaginPartial", paging)
                    
                  
                </ul>
               
            </div>
        </div>
        <div class="commercial">
            <img src="~/commercial/dotnet-core-banner.png" />
            @*<img src="~/commercial/commercial.png" />*@
        </div>
 
    </div>

   

</div>


@section BoxListCategory {
    @await Component.InvokeAsync(BoxListCategory.COMPONENTNAME, Model)
}
