@model IEnumerable<Category>
@{
   
}
<div class="clearafter">

    <div class="list-category-left">
        <div class="new-post-title">
            <h6>Danh Mục</h6>
        </div>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {

                if (item.ParentCategoryId == null)
                {
                    <div class="main-body-content-child">

                        <h5 class=" d-flex justify-content-lg-start">
                            @if (@item.IConFont != null)
                            {
                                <span class="icon-category-img">
                                    <img src="~/imagemanager/iconcategory/@item.IConFont" />
                                </span>
                            }
                            else
                            {
                                <span class="icon-category-img">
                                    <img src="~/img/icon-default.png" />
                                </span>
                            }

                            <span style="margin: auto; padding-left: 10px; margin-left: 0px;">
                                <a asp-area="Docs" asp-controller="ViewDocs" asp-action="index" asp-route-category="@item.Slug">
                                    @item.Title
                                </a>

                            </span>

                            <span class="count-parent-category">
                                <i class="bi bi-stars"></i>
                            </span>

                        </h5>
                        <div class="card-body">
                            @{
                                if (item.CategoryChildren?.Count >= 0)
                                {
                                    await RenderCategory(item.CategoryChildren, 14);
                                }
                            }
                        </div>
                    </div>

                }
            }
        }
        
    </div>
    
</div>

@{
    async Task RenderCategory(IEnumerable<Category> categories, int fontsize)
    {
        if (fontsize < 14)
        {
            fontsize = 14;

        }
        
        var fontz = fontsize + "px";

        foreach (var category in categories)
        {

            <li style="position: relative" class="d-flex justify-content-starts">
                @if (category.IConFont != null)
                {
                    <span style="font-size: @fontz;" class="icon-category-img-child mx-1">
                        <img src="~/imagemanager/iconcategory/@category.IConFont" />
                    </span>
                }
                else
                {
                    <span style="font-size: @fontz;" class="icon-category-img-child mx-1">
                        <img src="~/img/icon-default.png" />
                    </span>
                }

          
                <span style="padding-left: 10px;">
                      <a style="font-size: @fontz;" asp-area="Docs" asp-controller="ViewDocs" asp-action="index" asp-route-category="@category.Slug">@category.Title </a>

                </span>
                <span class="count-post-category">
                    <i class="bi bi-stars"></i>
                </span>
            </li>

            if (category.CategoryChildren?.Count >= 0)
            {
                <ul>
                    @{

                       await RenderCategory(category.CategoryChildren, fontsize - 1);
                    }

                </ul>
            }
        }
    }

  
}
