@using System.Globalization;
@model Category
@{
    var categorys = ViewData["categorys"] as IEnumerable<Category>;

    ViewData["Title"] = Model.Title;
    var url = ViewData["curenturl"] as string;
}

<div class="main-content">

    <div class="main-content-introduce">

        <p style="text-align: right"><i class="bi bi-alarm"></i>  @DateTime.Now.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</p>

        <h1 class="main-content-title">
            @Model.Title
        </h1>
        <div class="db-description-category">

           
            <img src="@Model.IConFont" />
          
            <p>@Model.Description</p>

        </div>
        <div class="list-title-curent">
           @* <ul>
                <li>
                    <a><span class="badge bg-primary"><i class="bi bi-check"></i> Thích</span></a>
                </li>
                <li>
                    <a><span class="badge bg-primary"><i class="bi bi-share"></i> Chia Sẻ</span></a>
                </li>

            </ul>*@
            <div id="fb-root"></div>
            <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

            <!-- Your share button code -->
            <div class="fb-share-button"
                 data-href="@url"
                 data-layout="button_count">
            </div>
        </div>


    </div>
    
    
    <div class="db-categorry-content mt-3">

        @if (Model?.Content != null)
        {
            @Html.Raw(Model.Content)
        }
    </div>

    
    @if (Model.CategoryChildren?.Count > 0)
    {
        
        <div class="db-category-introduce-box">
            @foreach (var category in Model.CategoryChildren)
            {
                <div class="category-introduce-box">
                   
                    <img src="@category.IConFont"/>
                   
                    <h5>
                        <a asp-controller="ViewDocs" asp-action="Index" asp-route-category="@category.Slug">@category.Title</a>
                    </h5>
                    <p>
                        @category.Description
                    </p>
                </div>
            }
        </div>
    }
  
</div>

@section FacebookSharedCategoryHead{
    <meta property="og:url" content="@url" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Description" />
    <meta property="og:image" content="@Model.IConFont" />
}
@section Scripts {
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v17.0" nonce="Ag4x6L3a"></script>
}

@section Sidebar {
    @await Component.InvokeAsync(CategorySidebar.COMPONENTNAME,
             new CategorySidebar.CategorySidebarData()
             {
                 listSerialUrl = ViewBag.listSerialUrl,
                 slugPost = ViewBag.slugPost,
                 currentCategory = ViewBag.currentCategory,

             })

}
@section SidebarSmall {
    @await Component.InvokeAsync(CategorySidebar.COMPONENTNAME,
             new CategorySidebar.CategorySidebarData()
             {

                 listSerialUrl = ViewBag.listSerialUrl,
                 slugPost = ViewBag.slugPost,
                 currentCategory = ViewBag.currentCategory,


             })

}

@section BoxListCategory {
    @await Component.InvokeAsync(BoxListCategory.COMPONENTNAME, categorys)
}
